.filter-checkbox-container {
  ::ng-deep {
    .mdc-form-field {
      display: flex;
      align-items: flex-end;
      .mdc-label {
        font-weight: 300;
      }
    }
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
      background-color: #414141 !important;
      border-color: #414141 !important;
    }
  }
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}
