<div>
  @for ( checkboxGroup of processedGroups(); track checkboxGroup.Category ) {
  <div
    class="d-flex justify-content-between flex-wrap flex-column flex-md-row filter-checkbox-container"
  >
    <mat-checkbox
      [checked]="!areSomeCheckboxesSelected()"
      [disabled]="!areSomeCheckboxesSelected()"
      (change)="showAll()"
    >
      Show all
    </mat-checkbox>

    @for (
      option of checkboxGroup?.Options;
      track option. Id
    ) {
      @if (!option) {
        {{ option | json }}
      }
      <mat-checkbox
        [class.disable]="option?.Disabled"
        (change)="onCheckboxChange(option, $event.checked)"
        [matTooltip]="option?.Tooltip"
        [checked]="isOptionSelected(option)"
      >
        {{ option?.Tag }} {{ isOptionSelected(option) }}
      </mat-checkbox>
    }
  </div>
  }
</div>
