<form [formGroup]="checkboxForm">
  <ng-container *ngFor="let checkboxGroup of checkboxGroups | async">
    <div
      class="d-flex justify-content-between flex-wrap flex-column flex-md-row filter-checkbox-container"
    >
      <mat-checkbox
        [checked]="!areSomeCheckboxesSelected()"
        [disabled]="!areSomeCheckboxesSelected()"
        (change)="showAll()"
        >Show all</mat-checkbox
      >
      <ng-container *ngFor="let option of checkboxGroup?.Options">
        <ng-container *ngIf="!option">{{ option | json }}</ng-container>
        <mat-checkbox
          [formControlName]="option?.Title"
          [disabled]="option?.Disabled"
          (change)="toggleCheckbox(option, $event?.checked)"
          matTooltip="{{ option?.Tooltip }}"
        >
          {{ option?.Tag }}
        </mat-checkbox>
      </ng-container>
    </div>
  </ng-container>
</form>
