:host {
  display: flex;
  flex-flow: row wrap;

  .app-image {
    flex: 1 1 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100px;

    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 30px 0 30px 0;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .app-description {
    flex: 7 1 50%;
    line-height: 1.5;
    font-weight: 300;
    max-width: 600px;
    padding-right: 30px;

    p {
      margin: 0;
    }

    .app-title {
      a{
        margin-right: 10px;
      }

      .type {
        color: white;
        border-radius: 8px 0 8px 0;
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
        vertical-align: middle;

        &.new {
          background: #E9AB00;
        }

        &.top {
          background: #E9AB00;
        }

        &.stable {
          background: #05D6AC;
        }

        &.old {
          background: #673300;
        }
      }

    }
  }

  .app-taggs {
    flex: 2 1 30%;
    justify-content: flex-end;

    .tag {
      display: inline-flex;
      align-items: center;
      color: #9F9F9F;
      background: #F1F1EE;
      font-weight: 400;
      font-size: 12px;
      margin: 2px;
      border-radius: 20px;
      padding: 3px 10px;
      white-space: nowrap;
      height: 20px;
    }
  }
}
