.container {
  transition: all 225ms ease-in-out;
  &:not(.item) {
    border-bottom: 1px solid #efefef;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.205);
  }
}

img {
  border-radius: 30px 0 30px 0;
  min-width: 100px;
}

.type {
  color: white;
  border-radius: 8px 0 8px 0;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;

  &.new {
    background: #e9ab00;
  }

  &.top {
    background: #e9ab00;
  }

  &.stable {
    background: #05d6ac;
  }

  &.old {
    background: #673300;
  }
}

.tags {
  color: #9f9f9f !important;
  background: #f1f1ee !important;
  border-radius: 20px;
}

.badge {
  padding: 6.825px !important;
}

h4 {
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

.short-description {
  color: black !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
