.container {
  &:not(.item) {
    border-bottom: 1px solid #efefef;
  }
  &:hover {
    background-color: rgba(230, 230, 230, 1);

    .with-gradient:after {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(230, 230, 230, 1));
    }
  }
}

img {
  border-radius: 30px 0 30px 0;
  width: 90px;
  min-width: 60px;
}

.type {
  color: white;
  border-radius: 8px 0 8px 0;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;

  &.new {
    background: #e9ab00;
  }

  &.top {
    background: #e9ab00;
  }

  &.stable {
    background: #05d6ac;
  }

  &.old {
    background: #673300;
  }
}

.tags {
  color: #9f9f9f !important;
  background: #f1f1ee !important;
  border-radius: 20px;
}

.badge {
  padding: 6.825px !important;
}

h4 {
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

.short-description {
  color: black !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}

.tag-custom {
  .with-gradient {
    position: relative;
    display: block;
    overflow: hidden;
    font-weight: 400;
    cursor: pointer;
    line-height: 24px;
    max-height: 48px;
    min-height: 48px;
    transition: max-height 0.3s ease;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(rgba(255, 255, 255, 0), white);
    }
  }

  .with-gradient.expanded {
    max-height: none;
  }
}

.old-app-container {
  opacity: 0.5;
}
