<!-- Desktop -->
<div class="d-none d-md-block mb-1">
  <app-filter-selects
    [selectGroups$]="filterSelects$"
    [titlePrefix]="titlePrefix"
  ></app-filter-selects>
  <app-filter-checkboxes
    [checkboxGroups$]="filterCheckboxes$"
    [titlePrefix]="titlePrefix"
  ></app-filter-checkboxes>
</div>

<!-- Mobil  -->
<div class="d-block d-md-none mb-3">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Filters </mat-panel-title>
      <mat-panel-description>
        selected({{ filterService?.selectedFilters?.length || 0 }})
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-filter-selects
      [selectGroups$]="filterSelects$"
      [titlePrefix]="titlePrefix"
    ></app-filter-selects>
    <app-filter-checkboxes
      [checkboxGroups$]="filterCheckboxes$"
      [titlePrefix]="titlePrefix"
    ></app-filter-checkboxes>
  </mat-expansion-panel>
</div>
